# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual env
venv/
.venv/
env/

# Django
db.sqlite3
db.sqlite3-journal
staticfiles/
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.local

# OS
Thumbs.db
.DS_Store

# Byte-compiled
*.pyc
